body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: aquamarine;
    background: rgb(103, 101, 243);
}
label {width: 100px;  display: inline-block;    
}
label.aloancho {width: auto; 
display: block;}

input[type=text], input[type=number], input[type=email] 
    {width: 200px; border: 1px solid violet; padding: 5px;
    }
   

button{
    padding: 5px; border-radius: 5px; background: darkblue;
    border:none; color: brown;
    box-shadow: 2px 2px 5px 5px orange;
    
}
    form > div {margin: 10px;}
    form > textarea 


}