body{background:lightsalmon;}
h1 {font-size: 40px; color:darkcyan; background:}

header div 
{width:300px;
border:2px solid whitesmoke;}
img {
    width: 50%;
    border: 2px dashed blueviolet;
}
p{
    color: yellowgreen;
    font-size:20px; 
    background-color:firebrick;
    width:200px;
    padding:10px;
    margin:50px;

}
p.amarillo {background: white;}
p.rojo {background: crimson;}
article> div> img {width: 200px;}
h2 {color: fuchsia;}


